@page "/"
@inject B2CService b2cService;

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, world!</h1>

        Welcome to your new app!

        <button @onclick="login">Log me in!</button>
    </NotAuthorized>
    <Authorized>
        <h1>Hello @context.User.Identity.Name</h1>
        <button @onclick="logout">Log me out!</button>
    </Authorized>
</AuthorizeView>

@code {

    private async Task login(){
        //await b2cService.Login();
        //loaded = $"Logged in! {data}";
        Console.WriteLine("Trying to log you in...");
        await b2cService.GetTokenAsync();
    }

    private async Task logout(){
        //await b2cService.Login();
        //loaded = $"Logged in! {data}";
    }
}